* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body, html {
    height: 100%;
}

.background {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to right, #9b59b6, #e84393, #e74c3c);
}

.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.apology-card {
    padding: 40px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.apology-card h1 {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
}

.apology-card p {
    font-size: 20px;
    color: #666;
    margin-bottom: 15px;
}

.apology-card img {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
h1{
    text-align: center;
}